!!! 5
%head
  %meta{charset: "UTF-8"}
  %title Searchstone - Instant Search Hearthstone Cards
  %link{href: "http://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css", rel: "stylesheet", type: "text/css"}
  %link{href: "app.css", rel: "stylesheet", type: "text/css"}
  %link{href: "https://fonts.googleapis.com/css?family=Volkhov:700|Archivo+Narrow:400,700&subset=latin,latin-ext", rel: "stylesheet", type: "text/css"}
  %link{rel:"icon", type: "image/x-icon", href:"favicon.ico"}
  -# %meta{name: "viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}

%body
  -# %a.github-source{href: "https://github.com/shipow/searchstone", target:"_blank"}
  -#   %svg
  -#     %use{xlink:href: "#github-banner"}
  .background-image
  .container-fluid
    %header
      %a.logo{href:"/"}
        %img{src: "img/searchstone.svg", width:320, alt:"heartstone search engine powered by algolia API"}

      %form.searchbox.sbx-custom{name: "searchquery", novalidate: true, onsubmit: "return false"}
        %input#search.sbx-custom__input{type: "search", placeholder: "Search for cards", autocomplete: "off", required: true, spellcheck: false}
        %button.sbx-custom__submit{type: "submit"}
          %svg{role: "img", aria-label: "Search"}
            %use{xlink:href: "#sbx-icon-search-6"}
        %button.sbx-custom__reset{type: "reset"}
          %svg{role: "img", aria-label: "Reset"}
            %use{xlink:href: "#sbx-icon-clear-3"}
        %a.poweredby{href:"https://www.algolia.com/?utm_medium=social-owned&utm_source=searchstone&utm_campaign=searchstone"}
          %img{src:"img/powered-by-algolia.svg"}

      %section#lang-select

      %script#hit-template{type: "text/template"}
        .hit
          .card-wrapper{class: "type-{{type}} lang-{{lang}}"}
            .placeholder{style:"background-image: url(data:image/png;base64,{{previewImage}}) "}
            %img.card-picture{width:300, heigh:432, data-card-race: "{{race}}",data-card-set: "{{set}}", data-card-id: "{{id}}", data-card-playerclass: "{{playerClass}}", data-card-rarity: "{{rarity}}", data-card-type: "{{type}}"}
            .card-overlay
              .card-health {{health}}
              .card-attack {{attack}}
              .card-cost {{cost}}
              .card-durability {{durability}}
              .card-race {{{_highlightResult.race.value}}}
              %svg.card-title{xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink"=> "http://www.w3.org/1999/xlink", class: "{{nameLengthClass}}"}
                %text.card-text{text-anchor: "middle"}
                  %textPath{ startOffset:"50%", xlink:href: "{{textPath}}"}
                    %tspan{dy: "0.3em"}
                      {{{_highlightResult.name.value}}}
              .card-description{class: "{{textLengthClass}}"}
                %span
                  {{{_highlightResult.text.value}}}
            .card-infos {{set}}{{#nameVO}} - {{{_highlightResult.nameVO.value}}}{{/nameVO}}
          .card-details
            %dl
              %p.detail-set {{setFull}} - {{playerClass}}
              %h2.detail-name {{nameVO}}
              {{#dustCraft}}
                %p.detail-dust {{dustCraft}}
              {{/dustCraft}}
              %p.detail-quote {{flavor}}
              %br
              %p.detail-artist Artist: {{artist}}


    %aside.sidebar-facets
      %section#sort-by
      -# %section#clear-all
      -# %section#hits-per-page
      %section#rarity
      %section#cost
      %section#format
      %section#set
      %section#type
      %section#race
      %section#mechanics

    %main
      %section#playerClass
      %section#refinements
      %section#results
      %section#pagination

      %section.poweredby
        This site is <strong>not</strong> affiliated with Blizzard Entertainment, Inc.
        %br
        Hearthstone assets used on this site are copyrighted and/or trademarked material of Blizzard Entertainment, Inc.
        %br
        %br
        Searchtone is open-sourced on <a href="https://github.com/shipow/searchstone" target:"_blank">Github</a> (making of on Medium coming soon)
        %br
        %br
        %span Built with
          %a.instantsearch{href: "https://community.algolia.com/instantsearch.js/?utm_medium=social-owned&utm_source=searchstone&utm_campaign=searchstone"} Instantsearch.js



  .lightbox.hidden
    %a.close{href: "javascript:void(0);"}
      %svg{role: "img"}
        %use{xlink:href: "#sbx-icon-clear-3"}
    .card-detail-wrapper

  .filters-panel.hide.overlay
    %button.close{type: "button"} BACK
    .overlay-content
      %ul.filters
        %li
          %ul.tabs
            %li
              %a.active{href: "#years"} Years
              %a{href: "#brands"} Brands
      #years.tab-panel.active
      #brands.tab-panel


  %script
    var sunwell= {
      settings : {
        titleFont: 'arial',
        bodyFont: 'arial',
        bodyFontSize: 24,
        bodyLineHeight: 55,
        bodyFontOffset: {x: 0, y: 0},
        assetFolder: 'http://res.cloudinary.com/hilnmyskv/image/upload/f_auto,q_80/',
        textureFolder: 'http://res.cloudinary.com/hilnmyskv/image/upload/f_auto,w_300,q_80/',
        autoInit: false,
        debug: false
      }
    };
  %script{src: "js/sunwell.js"}
  %script{src: "js/app.js"}

  .svg-icons{style: "display:none"}
    <!-- inject:svg --><!-- endinject -->
    %svg{xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink"=> "http://www.w3.org/1999/xlink"}
      %defs
        %path#Spell{d: "M 43, 37 C 122, 10, 188, 13, 268, 37", fill: "none", stroke: "black", stroke-width:"1"}
        %path#Minion{d: "M 49, 40 C 131, 46, 152, 8, 258, 29", fill: "none", stroke: "black", stroke-width:"1"}
        %path#Weapon{d: "M 49, 25, 258, 25", fill: "none", stroke: "black", stroke-width:"1"}
