@keyframes bounce {
  0% {
    transform: scale(.6);
  }

  40% {
    transform: scale(.8);
  }

  60% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes flash {
  0% {
    filter: brightness(200%);
  }

  100% {
    filter: brightness(100%);
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes flipOutCard {
  0% {
    transform: scale(1) rotateY(0);
    opacity: 1;
  }


  100% {
    transform: scale(.3) rotateY(-180deg);
    opacity: 0;
  }
}


@keyframes cardDetailsAnim {
  20% {
    transform: perspective(400px) rotate3d(1, .5, 0, -30deg) scale(.8);
    transition-timing-function: ease-in;
  }

  40% {
    transform: perspective(400px) rotate3d(1, .5, 0, 8deg) scale(.8);

  }

  60% {
    transform: perspective(400px) rotate3d(1, .5, 0, -4deg) scale(1);
  }

  80% {
    transform: perspective(400px) rotate3d(1, .5, 0, 2deg) scale(1);
  }

}

@keyframes cardBackAnim {
  0% {
    transform: rotate(-2deg) translateZ(-1000px);
    opacity: 0;
  }

  100% {
    transform: rotate(-12deg) translate(-80px, 55px) scale(1) translateZ(-10px);
    opacity: 1;
  }
}
