.poweredby {
  float: left;
  width: 100%;
  color: rgba(white,.6);
  display: block;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 40px;
  .instantsearch {
    position: relative;
    display: inline-block;
    height: 20px;
    top: -1px;
    width: 150px;
    text-indent: -9999px;
    background: url('img/logo-instantsearch.svg') no-repeat center center / contain;
    color: transparent;
  }
}
