.poweredby {
  color: white;
  display: block;
  text-align: center;
  font-size: 1.1em;
  letter-spacing: 1px;
  .instantsearch {
    position: relative;
    display: inline-block;
    height: 20px;
    top: -1px;
    width: 150px;
    text-indent: -9999px;
    background: url('img/logo-instantsearch.svg') no-repeat center center / contain;
    color: transparent;
  }
}
