// .github-source {
//   position: absolute;
//   top: 0;
//   right: 0;
//   z-index: 9999;
//   @media (max-width: 960px){
//     display: none;
//   }
//
//   svg {
//     opacity: 1;
//     width: 60px;
//     height: 60px;
//     fill: white;
//   }
// }

header {
  position: relative;
  padding: 40px 70px 30px 270px;

  .logo {
    position: absolute;
    top: -15px;
    left: 20px;
    padding: 30px 0 0;
    animation: bounce .3s ease-in;

  }
  @media (max-width: 960px){
    padding: 100px 110px 30px 0;

    .logo{
      left: calc(50% - 150px);
      img{
        width: 300px;
      }
    }
  }
  @media (max-width: 600px){
    padding: 80px 110px 30px 0;

    .logo{
      left: 10px;
      img{
        width: 220px;
      }
    }
  }
}

.sbx-custom {
  @include searchbox($custom...);
}

.searchbox {
  margin: 0 auto;
  display: block;
  width: 400px;
  position: relative;

  @media (max-width: 600px){
    width: 200px;
  }

  .sbx-custom__input {
    color: yellow;
    box-shadow: 0 2px #3C10C9;
    background: transparent;
  }

  .sbx-custom__input:focus {
    box-shadow: 0 2px white;
  }

  .sbx-custom__input:focus ~ .sbx-custom__submit {
    animation: bounce .3s ease-in;
  }

  .sbx-custom__reset {
    fill: #fff
  }

  .poweredby{
    display: block;
    position: absolute;
    width: 120px;
    top: 12px;
    right: -130px;
  }
}

.wz-select {
  display: block;
  position: absolute;
  right: 20px;
  top: 10px;
  @media (max-width: 600px){
    top: 30px;
  }

  [type="button"] {
    width: 120px;
    height: 30px;
    border-radius: 3px;
    line-height: 28px;
    display: block;
    text-align: left;
    padding: 0 8px;
    font-size: .9em;
    color: rgba(white, 0.9);
    border: none;
    outline: 0;
    border: solid 1px #3C10C9;
    cursor: pointer;
    background: {
      image: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' version=\'1\' viewBox=\'0 0 100 100\'><path fill=\'%23979797\' d=\'M21.364 42.218l24.33 24.33c.025.026.033.064.06.09 1.146 1.146 2.66 1.715 4.17 1.71 1.51.005 3.023-.563 4.17-1.71.027-.027.034-.064.06-.09l24.33-24.33c2.285-2.285 2.285-6.024 0-8.308s-6.024-2.285-8.308 0L49.923 54.16l-20.25-20.25c-2.286-2.285-6.025-2.285-8.31 0s-2.284 6.024 0 8.308z\'/></svg>");
      size: 14px;
      position: center right 8px;
      repeat: no-repeat;
      color: transparent;
    }
    &:focus,
    &:active {
      background: {
        image: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' version=\'1\' viewBox=\'0 0 100 100\'><path fill=\'%232897c5\' d=\'M21.364 42.218l24.33 24.33c.025.026.033.064.06.09 1.146 1.146 2.66 1.715 4.17 1.71 1.51.005 3.023-.563 4.17-1.71.027-.027.034-.064.06-.09l24.33-24.33c2.285-2.285 2.285-6.024 0-8.308s-6.024-2.285-8.308 0L49.923 54.16l-20.25-20.25c-2.286-2.285-6.025-2.285-8.31 0s-2.284 6.024 0 8.308z\'/></svg>");
      }
    }
    &.invalid {
      border-color: red
    }
  }

  *, :after, :before {
    box-sizing: border-box;
  }

  svg {
    width: 25px;
    height: 25px;
    display: block;
    line-height: 32px;
    margin: 6px 0;
    fill: rgba(0, 0, 0, 0.5);
    margin: 8px 6px;
    width: 20px;
    height: 14px;
    position: absolute;
    top: 0;
  }


  ul {
    position: absolute;
    background: black;
    cursor: default;
    list-style: none;
    line-height: 32px;
    top: 30px;
    right: 0;
    display: none;
    width: 200px;

    li {
      height: 32px;
      width: 100%;
      padding: 0 8px;
      cursor: pointer;
      color: white;
      -webkit-font-smoothing: antialiased;

      &:focus, &:hover, &.active {
         color: yellow;
      }
    }
  }

  &.active ul {
    display: block;
    max-height: 500px;
    overflow: auto;
    padding: 8px;
    z-index: 999;
    transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
  }
}
