#results {
  display: block;
  clear: both;
}

.ais-hits {

  .ais-hits--item {
    float: left;
    width: 240px;
    height: 350px;
    animation: flipInX .4s ease;
    animation-fill-mode: backwards;

    @for $i from 1 to 13 {
      &:nth-child(#{$i}) {
        animation-delay: $i * .02s;
      }
    }

    .card-wrapper{
      transform: scale(.8);
      transform-origin: 0 0;
      width: 300px;
      height: 432px;
      position: relative;

    }
    .card-picture{
      max-width: 100%;
    }

    .card-title{
      position: absolute;
      top: 210px;
      left: 0;
      width: 300px;
      height: 60px;

    }
    .card-cost{
      position: absolute;
      width: 70px;
      text-align: center;
      top: 34px;
      left: 12px;
      font-family: 'Merriweather', serif;
      font-size: 3.4em;
      color: white;
      text-shadow:
     -2px -2px 0 #000,
      2px -2px 0 #000,
     -2px  2px 0 #000,
      2px  2px 0 #000,
      0  3px 0 #000,
      0  -3px 0 #000,
      -3px 0 0 #000,
      3px 0 0 #000;
    }

    .card-attack{
      position: absolute;
      width: 45px;
      text-align: center;
      top: 360px;
      left: 26px;
      font-family: 'Merriweather', serif;
      font-size: 3em;
      color: white;
      text-shadow:
     -2px -2px 0 #000,
      2px -2px 0 #000,
     -2px  2px 0 #000,
      2px  2px 0 #000,
      0  3px 0 #000,
      0  -3px 0 #000,
      -3px 0 0 #000,
      3px 0 0 #000;
    }

    .card-health{
      position: absolute;
      width: 50px;
      text-align: center;
      top: 360px;
      right: 12px;
      font-family: 'Merriweather', serif;
      font-size: 3em;
      color: white;
      text-shadow:
     -2px -2px 0 #000,
      2px -2px 0 #000,
     -2px  2px 0 #000,
      2px  2px 0 #000,
      0  3px 0 #000,
      0  -3px 0 #000,
      -3px 0 0 #000,
      3px 0 0 #000;
    }

    .card-durability{
      position: absolute;
      width: 50px;
      text-align: center;
      top: 360px;
      right: 12px;
      font-family: 'Merriweather', serif;
      font-size: 3em;
      color: white;
      text-shadow:
     -2px -2px 0 #000,
      2px -2px 0 #000,
     -2px  2px 0 #000,
      2px  2px 0 #000,
      0  3px 0 #000,
      0  -3px 0 #000,
      -3px 0 0 #000,
      3px 0 0 #000;
    }

    .card-race{
      position: absolute;
      width: 130px;
      text-align: center;
      top: 384px;
      left: 90px;
      font-family: 'Merriweather', serif;
      font-size: .9em;
      letter-spacing: .5px;
      color: white;
      text-shadow:
     -1px -1px 0 #000,
      2px -1px 0 #000,
     -1px  2px 0 #000,
      2px  2px 0 #000,
      0  2px 0 #000,
      0  -2px 0 #000,
      -2px 0 0 #000,
      2px 0 0 #000;
    }

    .card-description{
      position: absolute;
      top: 285px;
      left: 70px;
      width: 160px;
      text-align: center;
      font-family: 'Archivo Narrow', sans-serif;
      font-size: 1em;
      letter-spacing: .3px;
    }

    .card-description span{
      vertical-align: middle;
      display: table-cell;
      height: 100px;
      width: 180px;
    }

    .card-description em{
      background-color: rgba(yellow,.2);
      font-style: normal;
    }

    text{
      font-family: 'Merriweather', serif;
      font-size: .95em;
      letter-spacing: 1px;
      paint-order: stroke;
      stroke:#000000;
      stroke-width:4px;
      stroke-linecap:butt;
      stroke-linejoin:miter;
      stroke-opacity:1;
    }

    tspan{
      width: 100%;
      text-align: left;
      fill: white;
    }

    tspan tspan{
      fill: yellow;
    }

    .card-race em {
      color: yellow;
      font-style: normal;
    }

    .card-infos {
      display: inline-block;
      width: 100%;
      text-align: center;
      color: rgba(white,.6);
      font-family: 'Archivo Narrow', sans-serif;
      position: relative;
      top: -10px;

      em{
        font-style: normal;
        color: rgba(yellow,.7);
      }
    }

  }
}

.type-Weapon .card-description {
  color: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


.ais-hits__empty {
  display: block;
  min-height: 70vh;
  background: transparent;
  padding-top: 10px;
  @media (max-width: $bp-small) {
    padding-top: 60px;
  }
  .no-results {
    padding: 1.4em 0;
    font-size: 1.1em;
    display: block;
    width: 360px;
    margin: 0 auto;
    text-align: center;
    color: white;
    h2 {
      margin-bottom: .4em;
    }
  }
}
