/////////////////////////
// CARD VIEW
/////////////////////////

.results-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  padding-left: 40px;

  @media (max-width: $bkp-md) {
    justify-content: center;
    padding-left: 0;
  }

  @media (max-width: $bkp-sm) {
    padding-top: 8px;
  }
}

.hit-card {
  width: 250px;
  height: 360px;
  backface-visibility: hidden;
  perspective: 1000;

  @media (max-width: $bkp-lg) {
    width: 210px;
    height: 320px;
  }

  @media (max-width: 700px) {
    width: 180px;
    height: 270px;
  }

  .card-wrapper {
    position: relative;
    width: 300px;
    height: 360px;
    transform: scale(.8);
    transform-origin: 0 0;
    cursor: pointer;
    transition: transform .2s ease, opacity .2s ease;
    user-select: none;
    cursor: pointer;

    @media (max-width: 1300px) {
      transform: scale(.7);
    }
    @media (max-width: 700px) {
      transform: scale(.6);
    }

    &:hover .card-picture {
      filter: brightness(115%);
    }

    .card-picture {
      position: relative;
      max-width: 100%;
      opacity: 1;
      z-index: 2;
      transition: opacity .1s ease-in;
      outline: 0;
    }

    &.fade .card-picture {
      opacity: 0;
    }

    &.loaded .card-picture {
      opacity: 1;
    }

    &.lang-ruRU,
    &.lang-jaJP {
      .card-title{
        font-size: .8em;
      }
      .card-description{
        font-size: .9em;
      }
    }
  }

  .placeholder {
    position: absolute;
    width: 300px;
    height: 442px;
    top: -20px;
    opacity: .8;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center bottom;
    z-index: 1;
    background-image: url('./img/back-loading.png');
  }

  .card-overlay {
    position: absolute;
    width: 300px;
    top: 0;
    left: 0;
    z-index: 3;
    font-family: 'Belwe', 'Archivo Narrow', sans-serif;
    font-weight: bold;
  }

  .card-title {
    position: absolute;
    top: 210px;
    left: 0;
    width: 300px;
    height: 60px;
    z-index: 10;


    text {
      font-size: 1.4em;
      paint-order: stroke;
      stroke: #000000;
      stroke-width:4px;
      stroke-linecap:round;
      stroke-linejoin:round;
      stroke-opacity:.8;
    }

    &.md {
      font-size: .95em;
    }

    &.lg {
      font-size: .85em;
    }

    &.xl {
      font-size: .8em;
    }

    &.xxl {
      font-size: .7em;
    }

    tspan {
      width: 100%;
      text-align: left;
      fill: #fff;
    }

    tspan tspan {
      fill: $active-color;
    }
  }

  .card-cost,
  .card-attack,
  .card-health,
  .card-durability {
    position: absolute;
    color: #fff;
    line-height: 1.3em;
    z-index: 10;
    text-align: center;
    font-size: 4em;
    text-shadow:
       0px -1px 2px #000, // Top
       1px -1px 2px #000, // Top Right
       1px  0px 2px #000, // Right
       1px  1px 2px #000, // Bottom Right
       0px  1px 2px #000, // Bottom
      -1px  1px 2px #000, // Bottom Left
      -1px  0px 2px #000, // Left
      -1px -1px 1px #000; // Top Left
  }

  .card-cost {
    width: 70px;
    top: 20px;
    left: 11px;
  }

  .card-attack {
    width: 45px;
    top: 345px;
    left: 28px;
  }

  .card-health {
    width: 50px;
    top: 347px;
    right: 12px;
  }

  .card-durability {
    width: 50px;
    top: 347px;
    right: 12px;
  }

  .card-race {
    position: absolute;
    width: 130px;
    text-align: center;
    top: 380px;
    left: 90px;
    font-size: 1.15em;
    font-family: 'Belwe';
    font-weight: bold;
    color: #fff;
    z-index: 10;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
  }

  .card-description {
    position: absolute;
    top: 285px;
    left: 65px;
    width: 180px;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.17em;
    z-index: 10;
    line-height: 1.1em;
    font-weight: normal;

    &.lg {
      font-size: 1em;
    }
    &.xl {
      font-size: .85em;
    }

    &.xxl {
      font-size: .8em;
    }

    span {
      vertical-align: middle;
      display: table-cell;
      height: 100px;
      width: 180px;
    }

    em {
      background-color: rgba($active-color,.2);
      font-style: normal;
    }
  }

  .card-details {
    display: none;
  }

  .card-race em {
    color: $active-color;
    font-style: normal;
  }

  .card-infos {
    display: block;
    width: 100%;
    text-align: center;
    color: #7F6CBA;
    position: relative;
    top: -14px;
    font-size: 1.2em;

    em{
      font-style: normal;
      color: rgba($active-color,.8);
    }
  }
}

/////////////////////////
// DETAIL VIEW - LIGHTBOX
/////////////////////////

.card-detail-wrapper {
  position: relative;
  z-index: 9000;
  top: -10%;
  left: 8%;

  .hit-card {
    width: auto;
    height: auto;
  }

  .golden-wrapper{
    position: absolute;
    top: -24px;
    left:0;
    z-index: 9000;
    opacity: 0;

    &.flip{
      transform-origin: center!important;
      animation: cardDetailsAnim .4s ease;
      opacity: 1;
    }
  }

  .normal-wrapper{
    transform-origin: center!important;
    animation-fill-mode: forwards!important;
    animation: cardDetailsAnim .4s ease;
    z-index: 8000;
    position: relative;

    &.flip{
      transform-origin: center!important;
      animation-fill-mode: forwards!important;
      animation: flipOutCard .2s ease;
    }
  }

  .card-wrapper {
    position: relative;
    float:left;
    transform: scale(1);
    margin-right: 40px;
    animation-fill-mode: backwards;
    transition: none;
    transform-origin: center;
    backface-visibility: hidden;
    perspective: 1000;

    @media (max-width: 600px) {
      transform: scale(.7) translateY(40px);
    }

    &:hover .card-picture {
      filter: none;
    }

    tspan tspan {
      fill: #fff;
    }

    &::after {
      content: '';
      position: absolute;
      background: url('../img/back-loading.png') no-repeat;
      background-size: 100%;
      width: 270px;
      height: 462px;
      top:40px;
      left:0;
      animation: cardBackAnim .6s ease;
      opacity: 0;
      animation-fill-mode: forwards;
      user-select: none;
      pointer-events: none;
      z-index: 7000;
      perspective: 1000;
      transform: translateZ(1000px);
    }
  }

  .card-details {
    max-width: 300px;
    display: block;
    float: left;
    color: #fff;
    text-shadow: 0 1px 1px #000;

    .Hunter {
      color: $hunter-color;
    }

    .Druid {
      color: $druid-color;
    }

    .Mage {
      color: $mage-color;
    }

    .Paladin {
      color: $paladin-color;
    }

    .Priest {
      color: $priest-color;
    }

    .Rogue {
      color: $rogue-color;
    }

    .Shaman {
      color: $shaman-color;
    }

    .Warlock {
      color: $warlock-color;
    }

    .Warrior {
      color: $warrior-color;
    }

    .Neutral {
      color: $neutral-color;
    }

    .detail-set {
      box-sizing: border-box;
      padding-left: 26px;
      position: relative;

      &::before {
        content: '';
        display: inline-block;
        width: 22px;
        height: 22px;
        position: absolute;
        top: 0;
        left: 0;
        margin-right: 4px;
        background: url('img/SetIcons.png');
        background-size: 140px;
      }

      &.OG::before {
        background-position: 68px 0;
      }

      &.GT::before {
        background-position: 90px 0;
      }

      &.LOE::before {
        background-position: 68px 24px;
      }

      &.BRM::before {
        background-position: 46px 24px;
      }

      &.GVG::before {
        background-position: 116px 0;
      }

      &.NAXX::before {
        background-position: 22px 0;
      }

      &.EXPERT1::before {
        background-position: 46px 0;
      }

      &.CORE::before {
        background-position: 0 0;
      }

      &.REWARD::before {
        background-position: 116px 24px;
      }

      &.KARA::before {
        background-position: 22px 24px;
      }
    }

    @media (max-width: 600px){
      font-size: .8em;
    }
  }

  .card-infos{
    display: none;
  }

  .detail-set{
    font-size: 1.3em;
    margin-top: 90px;
  }

  .detail-name a{
    text-decoration: none;
    color: white;
    font-size: 2.4em;
    line-height: 1.1em;
  }

  .detail-nameVO {
    margin: .2em 0;
    font-size: 1.1em;
    color: rgba(#fff,.4);
  }

  .detail-quote {
    display: block;
    padding: 2em 0 1em;
    font-size: 1.3em;
    font-style: italic;
  }

  .detail-dust {
    display: block;
    background: url('../img/dust.png') no-repeat;
    background-size: contain;
    padding: 4px 0 4px 30px;
    font-size: 1.4em;
  }

  .detail-artist {
    font-size: 1.2em;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.type-Weapon .card-description {
  color: #fff;
}

.ais-hits__empty {
  display: block;
  min-height: 70vh;
  background: transparent;
  padding-top: 10px;

  .no-results {
    padding: 1.4em 0;
    font-size: 1.1em;
    display: block;
    width: 360px;
    margin: 40px auto 0;
    text-align: center;
    color: #fff;

    h2 {
      margin-bottom: .4em;
    }
  }
}

/////////////////////////
// LIST VIEW
/////////////////////////

.results-table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  color: #fff;
  max-width: 800px;
  margin: 10px auto 0;
  overflow: hidden;
}

.result-row {
  background-color: rgba(black,.7);
  padding: 8px;
  margin-bottom: 4px;
  cursor: pointer;
  transition: background-color .2s ease;
  position: relative;

  &:hover {
    opacity: 1;
    background-color: rgba(#4011DA,.4);

    .cel-img {
      opacity: 1 !important;
    }
  }

  .cel {
    float: left;
    width: 30px;
    padding: 0 8px;

    &.cel-desc {
      width: 50%;
      text-align: left;
      padding: 0 10px;
    }

    &.cel-img {
      width: 64px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: 100px;
      background-position: center;
      height: 64px;
      padding: 0;
      opacity: .8;
      position: relative;
    }

    .cel-number {
      text-align: center;
      font-size: 1.6em;
      font-family: Belwe;
      color: #fff;
      width: 40px;
      margin-top: 6px;
      text-shadow:
        0 0 3px #000,
        0 0 3px #000,
        0 0 3px #000,
        0 0 3px #000,
        0 0 3px #000,
        0 0 3px #000,
        0 0 3px #000;
      background-repeat: no-repeat;
      padding-top: 6px;

      @media (max-width: 600px) {
        float: right;
        position: absolute;
        top: 0;
        right: 0;
      }

      &.cel-cost {
        background-size: 36px;
        background-position: center 8px;
        background-image: url(img/cristal.svg);

        @media (max-width: 600px) {
          top: 10px;
          right: 100px;
        }
      }

      &.cel-shield {
        background-size: 28px;
        background-position: center 6px;
        background-image: url(img/shield.svg);

        @media (max-width: 600px){
          top: 10px;
          right: 10px;
        }
      }

      &.cel-attack {
        background-size: 33px;
        background-position: 0;
        background-image: url(img/attack.svg);

        @media (max-width: 600px) {
          top: 10px;
          right: 50px;
        }
      }

      &.cel-attack__Weapon {
        background-size: 34px;
        background-position: center 6px;
        background-image: url(img/swords.svg);

        @media (max-width: 600px) {
          top: 10px;
          right: 50px;
        }
      }

      &.cel-health {
        background-size: 24px;
        background-position: center 3px;
        background-image: url(img/health.svg);

        @media (max-width: 600px) {
          top: 10px;
          right: 10px;
        }
      }
    }

    .cel-desc-name {
      font-size: 1.4em;
      white-space: nowrap;

      &::after {
        content: '';
        display: inline-block;
        width: 16px;
        height:16px;
        border-radius: 50%;
        position: relative;
        margin-left: 8px;
        margin-right: 8px;
        position: relative;
        top: 2px;
      }

      &.Free::after {
          background: url(img/free.svg) no-repeat;
          background-size: 100%;
      }

      &.Common::after {
        background: url(img/common.svg) no-repeat;
        background-size: 100%;
      }

      &.Rare::after {
        background: url(img/rare.svg) no-repeat;
        background-size: 100%;
      }

      &.Epic::after {
        background: url(img/epic.svg) no-repeat;
        background-size: 100%;
      }

      &.Legendary::after {
        background: url(img/legendary.svg) no-repeat;
        background-size: 100%;
      }

      em{
        font-style: normal;
        color: $active-color;
      }

      @media (max-width: 600px) {
        font-size: 1.2em;
      }
    }

    .cel-desc-nameVO {
      color: rgba(#fff,.3);
      white-space: nowrap;

      @media (max-width: 600px) {
        display: none;
      }
    }

    .cel-desc-text {
      color: rgba(#fff,.5);
      margin-top: 2px;
      letter-spacing: .2px;
      font-size: .95em;

      @media (max-width: 600px) {
        display: none;
      }

      em {
        font-style: normal;
        color: rgba($active-color,.7);
      }
    }

    .cel-set{
      font-weight: bold;
      font-size: .8em;
      padding: 2px 4px;
      position: absolute;
      left: 0;
      bottom: 0;
      text-shadow:
      0 0 3px #000,
      0 0 3px #000;
    }

    &.cel-type {
      width: 110px;
      padding-top: 12px;
      padding-left: 8px;

      @media (max-width: 600px) {
        width: 200px;
      }

      ul {
        margin-top: 10px;
        border-left: solid 2px;
        list-style: none;
        margin: 0;
        padding-left: 8px;
        color: rgba(#fff, .6);

        @media (max-width: 600px) {

          margin-top: 0;
          li {
            display: inline-block;
            margin-right: 8px
          }
        }

        &.Hunter {
          color: $hunter-color;
        }

        &.Druid {
          color: $druid-color;
        }

        &.Mage {
          color: $mage-color;
        }

        &.Paladin {
          color: $paladin-color;
        }

        &.Priest {
          color: $priest-color;
        }

        &.Rogue {
          color: $rogue-color;
        }

        &.Shaman {
          color: $shaman-color;
        }

        &.Warlock {
          color: $warlock-color;
        }

        &.Warrior {
          color: $warrior-color;
        }
      }

      strong {
        color: rgba(#fff, .8);

        em {
          font-style: normal;
          color: $active-color;
        }
      }
    }

    .cel-desc-separator {
      padding: 0 6px;
      color: rgba(#fff, .5)
    }
  }
}
