#results {
  display: block;
  clear: both;
}

.ais-hits--item {
  float: left;
  width: 240px;
  height: 330px;
  margin-bottom: 24px;

  .card-wrapper{
    position: relative;
    width: 300px;
    height: 432px;
    transform: scale(.80);
    transform-origin: 0 0;
    cursor: pointer;

    .card-picture{
      position: relative;
      max-width: 100%;
      opacity: 0;
      z-index: 2;
    }

    &.fade .card-picture{
      transition: opacity .1s ease-in;
      opacity: 1;
    }

    &.loaded .card-picture{
      opacity: 1;
    }
  }

  .placeholder{
    position: absolute;
    width: 300px;
    height: 442px;
    top: -20px;
    opacity: .7;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
  }

  .card-overlay{
    position: absolute;
    width: 300px;
    top: 0;
    left: 0;
    z-index: 3;
  }

  .card-title{
    position: absolute;
    top: 210px;
    left: 0;
    width: 300px;
    height: 60px;
    z-index: 10;
  }
  .card-cost{
    position: absolute;
    width: 70px;
    text-align: center;
    top: 34px;
    left: 12px;
    font-family: 'Merriweather', serif;
    font-size: 3.4em;
    color: white;
    text-shadow:
   -2px -2px 0 #000,
    2px -2px 0 #000,
   -2px  2px 0 #000,
    2px  2px 0 #000,
    0  3px 0 #000,
    0  -3px 0 #000,
    -3px 0 0 #000,
    3px 0 0 #000;
    z-index: 10;
  }

  .card-attack{
    position: absolute;
    width: 45px;
    text-align: center;
    top: 360px;
    left: 26px;
    font-family: 'Merriweather', serif;
    font-size: 3em;
    color: white;
    text-shadow:
   -2px -2px 0 #000,
    2px -2px 0 #000,
   -2px  2px 0 #000,
    2px  2px 0 #000,
    0  3px 0 #000,
    0  -3px 0 #000,
    -3px 0 0 #000,
    3px 0 0 #000;
    z-index: 10;
  }

  .card-health{
    position: absolute;
    width: 50px;
    text-align: center;
    top: 360px;
    right: 12px;
    font-family: 'Merriweather', serif;
    font-size: 3em;
    color: white;
    text-shadow:
   -2px -2px 0 #000,
    2px -2px 0 #000,
   -2px  2px 0 #000,
    2px  2px 0 #000,
    0  3px 0 #000,
    0  -3px 0 #000,
    -3px 0 0 #000,
    3px 0 0 #000;
    z-index: 10;
  }

  .card-durability{
    position: absolute;
    width: 50px;
    text-align: center;
    top: 360px;
    right: 12px;
    font-family: 'Merriweather', serif;
    font-size: 3em;
    color: white;
    text-shadow:
   -2px -2px 0 #000,
    2px -2px 0 #000,
   -2px  2px 0 #000,
    2px  2px 0 #000,
    0  3px 0 #000,
    0  -3px 0 #000,
    -3px 0 0 #000,
    3px 0 0 #000;
    z-index: 10;
  }

  .card-race{
    position: absolute;
    width: 130px;
    text-align: center;
    top: 384px;
    left: 90px;
    font-family: 'Merriweather', serif;
    font-size: .9em;
    letter-spacing: .5px;
    color: white;
    text-shadow:
   -1px -1px 0 #000,
    2px -1px 0 #000,
   -1px  2px 0 #000,
    2px  2px 0 #000,
    0  2px 0 #000,
    0  -2px 0 #000,
    -2px 0 0 #000,
    2px 0 0 #000;
    z-index: 10;
  }

  .card-description{
    position: absolute;
    top: 285px;
    left: 65px;
    width: 180px;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1em;
    letter-spacing: .3px;
    z-index: 10;

    span{
      vertical-align: middle;
      display: table-cell;
      height: 100px;
      width: 180px;

    }

    em{
      background-color: rgba(yellow,.2);
      font-style: normal;
    }
  }


  .card-details{
    display: none;
  }

  text{
    font-family: 'Merriweather', serif;
    font-size: .95em;
    letter-spacing: 1px;
    paint-order: stroke;
    stroke:#000000;
    stroke-width:4px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1;
  }

  tspan{
    width: 100%;
    text-align: left;
    fill: white;
  }

  tspan tspan{
    fill: yellow;
  }

  .card-race em {
    color: yellow;
    font-style: normal;
  }

  .card-infos {
    display: block;
    width: 100%;
    text-align: center;
    color: rgba(white,.6);
    position: relative;
    top: -10px;
    em{
      font-style: normal;
      color: rgba(yellow,.7);
    }
  }
}

.card-detail-wrapper{
  z-index: 9000;

  .ais-hits--item {
    width: 790px;
    position: relative;
    margin-left: 100px;
    margin-bottom: 20%;
  }

  .card-wrapper{
    position: relative;
    float:left;
    transform: scale(1)!important;
    margin-right: 40px;
    animation: cardDetailsAnim .7s ease-in;
    animation-fill-mode: backwards;
    transition: none;
    transform-origin: center;

    &::after{
      content: "";
      position: absolute;
      background: url('../img/cardback-legendrank.png') no-repeat;
      background-size: 100%;
      width: 250px;
      height: 452px;
      top:50px;
      left:0;
      animation: cardBackAnim .6s ease;
      animation-delay: .3s;
      animation-fill-mode: forwards;
    }
  }

  .card-details{
    width: 450px;
    display: block;
    float: left;
    color: white;
    -webkit-font-smoothing: antialiased;
  }
  .card-infos{
    display: none;
  }
  .detail-set{
    font-size: 1.4em;
    margin-top: 90px;
  }
  .detail-name{
    font-size: 3em;
    margin-bottom: 8px;
  }
  .detail-quote{
    display: block;
    padding: 2em 0 1em;
    font-size: 1.4em;
    font-style: italic;
  }
  .detail-dust {
    display: block;
    background: url('../img/dust.png') no-repeat;
    background-size: contain;
    padding: 4px 0 4px 30px;
    font-size: 1.4em;
  }
  .detail-artist{
    font-size: 1.2em;
  }
}

.type-Weapon .card-description {
  color: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.ais-hits__empty {
  display: block;
  min-height: 70vh;
  background: transparent;
  padding-top: 10px;
  .no-results {
    padding: 1.4em 0;
    font-size: 1.1em;
    display: block;
    width: 360px;
    margin: 40px auto 0;
    text-align: center;
    color: white;
    h2 {
      margin-bottom: .4em;
    }
  }
}
