.icon {

  $columns: 7;
  $icon-size: 28px;

  @mixin icon-bg($position-x,$position-y) {
    background-position-x: -($position-x*$icon-size);
    background-position-y: -($position-y*$icon-size);
  }

  position: relative;
  line-height: $icon-size;

  &::before {
    content: '';
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    position: absolute;
    left: 4px;
    background: url('img/setIcons.svg');
    background-size: $columns * $icon-size;
  }

  &.CORE::before {
    @include icon-bg(0,0)
  }

  &.EXPERT1::before {
    @include icon-bg(1,0)
  }

  &.NAXX::before {
    @include icon-bg(0,1)
  }

  &.GVG::before {
    @include icon-bg(1,1)
  }

  &.BRM::before {
    @include icon-bg(2,1)
  }

  &.LOE::before {
    @include icon-bg(3,1)
  }

  &.GT::before {
    @include icon-bg(4,1)
  }

  &.OG::before {
    @include icon-bg(5,1)
  }

  &.KARA::before {
    @include icon-bg(6,1)
  }

  &.GANGS::before {
    @include icon-bg(0,2)
  }

  &.UNGORO::before {
    @include icon-bg(1,2)
  }

  &.ICECROWN::before {
    @include icon-bg(2,2)
  }

  &.LOOTAPALOOZA::before {
    @include icon-bg(3,2)
  }

  &.GILNEAS::before {
    @include icon-bg(4,2)
  }

  &.BOOMSDAY::before {
    @include icon-bg(5,2)
  }
}
