* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #0E0226;
}

.blur{
  filter: blur(10px);
}

.background-image{
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  z-index: 1;
  top:0;
  bottom:0;
  background: url('img/hs-bg.jpg') no-repeat center top ;
  background-size: cover;
}

.container-fluid {
  z-index: 10;
  position: relative;
  width: 100%;
  transition: opacity .4s ease;
  margin: 0 auto;

  &.no-scroll {

  }
}
aside {
  width: 270px;
  float: left;
  margin-bottom: 30px;
  animation: fadeInLeft .3s ease-in;
  section {
    padding: 10px 30px;
  }

  @media (max-width: 960px){
    display: none;
    flex-flow: row wrap;
    width: 100%;
    background-color: rgba(black,.7);
    z-index: 9;
    animation: slideDown .2s ease-out;
    transform-origin: 0 0;
    margin-bottom: 20px;;
    &.show{
      display: flex;
    }
    section {
      padding: 10px 3%;
      margin: 0 auto;
      width: 27%;
      order: 4;
    }

    #template-toggle{

    }
    #sort-by{

    }
    #cost{
      width: 60%;
      order: 1;
    }
    #rarity{
      width: 28%;
      order: 1
    }

    #format{

    }
    #set{
      order: 3;
    }
    #type{
      order: 5;
    }
    #race{
      order: 5;
    }
    #mechanics{
      order: 3;
    }
    #attack{
      width: 44%;
      order: 2;
    }
    #health{
      width: 44%;
      order: 2;
    }

    .debug{
      display: none;
    }
  }
}
main {
  float: right;
  width: 100%;
  max-width: calc(100% - 270px);
  @media (max-width: 960px){
    max-width: 100%
  }
}
