* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #0e0226;
}

body {
  overflow-y: scroll;
}

.blur {
  filter: blur(10px);
}

.background-image {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  z-index: 1;
  top:0;
  bottom:0;
  //background: url('img/hs-bg.jpg') no-repeat center top ;
  background-size: cover;
}

.container-fluid {
  z-index: 10;
  position: relative;
  width: 100%;
  transition: opacity .4s ease;
  margin: 0 auto;
}


aside {
  width: 270px;
  float: left;
  padding-top: 40px;
  animation: fadeInLeft .3s ease-in;

  section {
    padding: 0 20px 20px;
  }

  @media (max-width: 960px){
    display: none;
    width: 100%;
    background-color: rgba(black,.7);
    z-index: 9;
    animation: slideDown .2s ease-out;
    transform-origin: 0 0;
    padding-top: 20px;

    .ais-header{
      display: none;
    }

    &.show{
      display: block;
    }

    section {
      margin: 0 auto;
      padding:  0 0 10px;
      width: 100%;
      max-width: 420px;
      clear: both;
      order: 4;
    }

    #set{
      display: block;
      padding: 12px 0;
      width: 90%;
      .ais-refinement-list--list{
        display: flex;
        flex-flow: row wrap;
      }
      .ais-refinement-list--item{
        width: 33%;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 8px;
      }
      .value{
        display: inline-block!important;
      }
      .value-full {
        display: none;
      }
      .badge {
        float: none;
      }
    }

    #type, #race, #mechanics, #attack,#health, #sort-by, #format, #clearAll {
      display: none;
    }
  }
}

main {
  float: right;
  width: 100%;
  max-width: calc(100% - 270px);
  @media (max-width: 960px){
    max-width: 100%
  }
}

#branding{
  color: #7F6CBA;
  text-align: center;
  font-size: .9em;
  letter-spacing: .5px;

  #stats{
    margin-right: 12px;
    display: inline-block;
  }
  .poweredby{
    position: relative;
    top: 5px;
    img {
      margin-left: 4px;
      width: 55px;
    }
  }
}
