.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  visibility: visible;
  max-width: 100% !important;
  z-index: 9999;
  transition: transform .5s ease, opacity .5s ease;

  &:before {
    content: '';
    background: rgba(#0E0226, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  // Lightbox close
  .close {
    position: absolute;
    top: 25%;
    right: 15%;
    z-index: 5;
    margin: 16px;
    cursor: pointer;

    svg {
      height: 40px;
      width: 40px;
      fill: #fff;
    }
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
