.load-more {
  display: block;
  margin: 40px auto 0;
  outline: 0;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  background-color: rgba(lighten(#3c10c9, 5%), .5);
  cursor: pointer;
  padding: 16px 24px;
  width: 200px;
  color: rgba(#fff, .4);
  font-size: 1em;
  font-weight: bold;

  &:hover {
    background-color: lighten(#3c10c9, 5%);
    color: #fff;
  }
}
