#active-refinements {
  text-align: center;
  display: none;
  padding: 16px 0 8px;

  @media (max-width: 960px){
    display: block;
  }

  > li, div {
    list-style: none;
    display: inline-block;
    font-size: 1em;
    color: $active-color;
    font-weight: bold;
    white-space: nowrap;
    user-select: inherit;
    margin-right: 8px;

    a {
      color: #fff;
      text-decoration: none;

      div {
        display: inline-block;
      }
    }
  }

  .ais-current-refined-values--list {
    svg {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      fill: white;
      position: relative;
      top: -2px;
    }
  }
}


#player-class-refinement {
  text-align: center;
  position: relative;
  top: 8px;
  @media (max-width: 960px){
    display: none;
  }
  > li, div {
    list-style: none;
    display: inline-block;
    font-size: 1em;
    color: #fff;
    white-space: nowrap;
    text-transform: uppercase;
    user-select: inherit;
    a {
      color: #fff;
      text-decoration: none;
      div {
        display: inline-block;
      }
    }
  }
  .ais-current-refined-values--item {
    animation: bounce .5s ease-in;
  }

  h2{
    display: inline-block;
    width: 300px;
    height: 80px;
    font-size: 1.4em;
    font-family: Volkhov;
    font-weight: bold;
    text-transform: none;
    line-height: 76px;
    text-align: center;
    background: url('img/ClassHeaders.png') no-repeat;
    background-size: 600px;
  }
  .class-Druid {
    background-position: 0 -298px;
  }
  .class-Hunter {
    background-position: 0 -372px;
  }
  .class-Mage {
    background-position: 0 -222px;
  }
  .class-Paladin {
    background-position: 0 -147px;
  }
  .class-Priest {
    background-position: -300px -0;
  }
  .class-Rogue {
    background-position: 0 -448px;
  }
  .class-Shaman {
    background-position: 0 -72px;
  }
  .class-Warlock {
    background-position: -300px -73px;
  }
  .class-Warrior {
    background-position: 0 -523px;
  }
  .class-Neutral {
    background-position: 0 3px;
  }
}

.sidebar-facets{
  .ais-refinement-list--item{
    line-height: 1.2em;
  }
}

.ais-refinement-list--item {
  width: 100%
}

.ais-refinement-list--item,
.ais-toggle--item,
.ais-menu--item {
  position: relative;
  a {
    display: inline-block;
    width: 100%;
    color: rgba(white,.8);
    font-weight: normal;
    cursor: pointer;
    font-size: 1.05em;
    text-decoration: none;
    &:hover{
      color: white;
    }
    &.active{
      color: $active-color;
      font-weight: bold;
    }
  }
}

.ais-root__collapsible .ais-header::before{
  content: "";
  background: url(img/icon-collapse.svg) no-repeat;
  background-size: 100%;
  display: inline-block;
  color: white;
  width: 18px;
  height: 10px;
  margin-right: 8px;
  opacity: .4;
}

.ais-root__collapsed .ais-header::before{
  background-image: url(img/icon-expand.svg);
  opacity: 1;
}

.badge {
  float: right;
  color: #7F6CBA;
  line-height: 1.2em;
  @media (max-width: 600px){
    display: none;
  }
}

.ais-header{
  color: white;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Archivo Narrow', sans-serif;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: solid lighten(#320DAB,10%) 1px;
}


#rarity{
  .ais-refinement-list--list{
    text-align: center;
  }
  .ais-refinement-list--item{
    width: 28px;
    display: inline-block;
    margin-right: 8px;
    a{
      opacity: .4;
      &.active {
        opacity: 1;
        &::before{
          box-shadow: 0 0 2px 2px #4011DA;
        }
      }
      &:hover {
        opacity: .8;
      }
    }
    .list-group-item::before {
      content: "";
      display: inline-block;
      width: 28px;
      height:28px;
      border-radius: 50%;
      position: relative;
      top: 5px;
    }
  }
  .list-group-item[data-facet-value="Free"]:before {
      background: url(img/free.svg) no-repeat;
      background-size: 100%;
  }
  .list-group-item[data-facet-value="Common"]:before {
    background: url(img/common.svg) no-repeat;
    background-size: 100%;
  }
  .list-group-item[data-facet-value="Rare"]:before {
    background: url(img/rare.svg) no-repeat;
    background-size: 100%;
  }
  .list-group-item[data-facet-value="Epic"]:before {
    background: url(img/epic.svg) no-repeat;
    background-size: 100%;
  }
  .list-group-item[data-facet-value="Legendary"]:before {
    background: url(img/legendary.svg) no-repeat;
    background-size: 100%;
  }

}

#cost{
  .ais-refinement-list--list{
    text-align: center;
  }
  .ais-refinement-list--item{
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 30px;
    margin: 8px 8px 0 0;

    @media (max-width: 600px){
      margin: 4px 4px 0;
    }
    a {
      opacity: .7;
      font-size: 1.2em;
      font-family: Volkhov;
      font-weight: bold;
      color: white;
      text-shadow:
      0 0 3px #000,
      0 0 3px #000,
      0 0 3px #000,
      0 0 3px #000,
      0 0 3px #000,
      0 0 3px #000,
      0 0 3px #000;
      background-image: url(img/cristal.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      &.active{
        color: $active-color;
        opacity: 1;
        background-image: url(img/cristal--active.svg);
      }
      &:hover{
        background-image: url(img/cristal--active.svg);
      }
    }
  }
}

#format{
  .list-group-item::before{
    content: "";
    display: inline-block;
    width: 22px;
    height:22px;
    position: relative;
    top: 4px;
    margin-right: 4px;
    background: url('img/SetIcons.png');
    background-size: 140px;
    background-position: 138px -22px;
  }
}

#playerClass{
  text-align: center;
  margin-top: 20px;
  @media (max-width: 600px){
    display: none;
  }
  .ais-menu--item {
    display: inline-block;
    a{
      width: auto;
      color: rgba(white,.7);
      cursor: pointer;
      font-size: .9em;
      font-weight: bold;
      text-decoration: none;
      padding: 0 12px 0 44px;
      border: solid 2px rgba(#3C10C9,.3);
      border-radius: 40px;
      line-height: 42px;
      position: relative;
      margin-right: 8px;
      margin-bottom: 8px;
      opacity: .7;
      @media (max-width: 1400px){
        display: block;
        margin-right: 8px;
        font-size: 0;
        padding: 1px;
        width: 44px;
      }
      .value {
        display: block;
      }

      &:hover{
        color: white;
        border-color: #3C10C9;
        opacity: 1;
      }

      &.active{
        opacity: 1;
        color:$active-color;;
        background-color: #4011DA;
      }

      em {
       font-style: normal;
       font-weight: 800;
      }
    }
  }

  .list-group-item{
    &::before{
      content: "";
      position: absolute;;
      top: 6px;
      left: 8px;
      width: 32px;
      height:32px;
      margin-right: 3px;
      background: url('img/ClassIcons.png');
      background-size: 170px;
    }
    &[data-facet-value="Druid"]::before {
      background-position: 100px 32px;
    }

    &[data-facet-value="Hunter"]::before {
      background-position: 66px 32px;
    }

    &[data-facet-value="Shaman"]::before {
      background-position: 32px -2px;
    }

    &[data-facet-value="Warrior"]::before {
      background-position: 134px 32px;
    }

    &[data-facet-value="Paladin"]::before {
      background-position: 134px -2px;
    }

    &[data-facet-value="Warlock"]::before {
      background-position: -2px 32px;
    }

    &[data-facet-value="Priest"]::before {
      background-position: 100px -2px;
    }

    &[data-facet-value="Rogue"]::before {
      background-position: 66px -2px;
    }

    &[data-facet-value="Mage"]::before {
      background-position: -2px -2px;
    }

    &[data-facet-value="Neutral"]::before {
      background-position: 32px 32px;
    }
  }
}

#playerClassFiltersPanel{
  text-align: center;
  @media (min-width: 600px){
    display: none;
  }
  .ais-menu--item {
    display: inline-block;
    width: 32px;
    height:32px;
    margin: 0 4px;
    opacity: .7;
    overflow: hidden;
    a{
      cursor: pointer;
      position: relative;
      display: block;

      &:hover{
      }

    }
    &.ais-menu--item__active{
      opacity: 1;
    }
  }

  .list-group-item{
    &::before{
      content: "";
      position: absolute;
      left: 0;
      width: 32px;
      height:32px;
      background: url('img/ClassIcons.png');
      background-size: 170px;
    }
    &[data-facet-value="Druid"]::before {
      background-position: 100px 32px;
    }

    &[data-facet-value="Hunter"]::before {
      background-position: 66px 32px;
    }

    &[data-facet-value="Shaman"]::before {
      background-position: 32px -2px;
    }

    &[data-facet-value="Warrior"]::before {
      background-position: 134px 32px;
    }

    &[data-facet-value="Paladin"]::before {
      background-position: 134px -2px;
    }

    &[data-facet-value="Warlock"]::before {
      background-position: -2px 32px;
    }

    &[data-facet-value="Priest"]::before {
      background-position: 100px -2px;
    }

    &[data-facet-value="Rogue"]::before {
      background-position: 66px -2px;
    }

    &[data-facet-value="Mage"]::before {
      background-position: -2px -2px;
    }

    &[data-facet-value="Neutral"]::before {
      background-position: 32px 32px;
    }
  }
}

#set, #setShort{
  .ais-refinement-list--item {
    line-height: 1.4em;
  }

  .badge{
    line-height: 1.4em;
  }

  .list-group-item{
    box-sizing: border-box;
    padding-left: 26px;

    &::before{
      content: "";
      display: inline-block;
      width: 22px;
      height:22px;
      position: absolute;
      top: 0;
      left: 0;
      margin-right: 4px;
      background: url('img/SetIcons.png');
      background-size: 140px;
    }

    &[data-facet-value="Old Gods"]::before,
    &[data-facet-value="OG"]::before {
      background-position: 68px 0;
    }

    &[data-facet-value="The Grand Tournament"]::before,
    &[data-facet-value="TGT"]::before {
      background-position: 90px 0;
    }

    &[data-facet-value="League of Explorers"]::before,
    &[data-facet-value="LOE"]::before {
      background-position: 68px 24px;
    }

    &[data-facet-value="Blackrock Mountain"]::before,
    &[data-facet-value="BRM"]::before {
      background-position: 46px 24px;
    }

    &[data-facet-value="Goblins vs Gnomes"]::before,
    &[data-facet-value="GVG"]::before {
      background-position: 116px 0;
    }

    &[data-facet-value="Naxxramas"]::before,
    &[data-facet-value="NAXX"]::before {
      background-position: 22px 0;
    }

    &[data-facet-value="Expert"]::before,
    &[data-facet-value="EXPERT1"]::before {
      background-position: 0 0;
    }

    &[data-facet-value="Basic"]::before,
    &[data-facet-value="CORE"]::before {
      background-position: 46px 0;
    }

    &[data-facet-value="Reward"]::before,
    &[data-facet-value="REWARD"]::before {
      background-position: 116px 24px;
    }
  }
}

#setShort {
  display: none;
}

.debug{
  padding: 20px 0;
  margin-top: 40px;
  color: white;
  background-color: black;
  text-align: center;
  a {
    color: white;
  }
}

#sort-by{
  .sort-by-label{
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    margin-right: 12px;
    color: white;
  }
  .sort-by-selector{
    display: inline-block;
  }
  select{
    color: white;
    font-size: .9em;
    display: block;
    border: solid 2px #4011DA;
    border-radius: 4px;
    padding: 4px 26px 4px 12px;
    appearance: none;
    background: {
      image: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' version=\'1\' viewBox=\'0 0 100 100\'><path fill=\'%23979797\' d=\'M21.364 42.218l24.33 24.33c.025.026.033.064.06.09 1.146 1.146 2.66 1.715 4.17 1.71 1.51.005 3.023-.563 4.17-1.71.027-.027.034-.064.06-.09l24.33-24.33c2.285-2.285 2.285-6.024 0-8.308s-6.024-2.285-8.308 0L49.923 54.16l-20.25-20.25c-2.286-2.285-6.025-2.285-8.31 0s-2.284 6.024 0 8.308z\'/></svg>");
      size: 14px;
      position: center right 8px;
      repeat: no-repeat;
      color: transparent;
    }
    &:focus,
    &:active {
      box-shadow: none;
      outline: 0;
      background: {
        image: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' version=\'1\' viewBox=\'0 0 100 100\'><path fill=\'%232897c5\' d=\'M21.364 42.218l24.33 24.33c.025.026.033.064.06.09 1.146 1.146 2.66 1.715 4.17 1.71 1.51.005 3.023-.563 4.17-1.71.027-.027.034-.064.06-.09l24.33-24.33c2.285-2.285 2.285-6.024 0-8.308s-6.024-2.285-8.308 0L49.923 54.16l-20.25-20.25c-2.286-2.285-6.025-2.285-8.31 0s-2.284 6.024 0 8.308z\'/></svg>");
      }
    }
  }
}

#attack{
  .ais-range-slider--connect{
    background-color: #DCBD1C;
  }
}

#health{
  .ais-range-slider--connect{
    background-color: #BD191C;
  }
}

.ais-range-slider--base {
  border: none;
}

.ais-range-slider--background,
.ais-range-slider--marker{
  background-color: #4011DA;
}

.ais-range-slider--tooltip{
  background-color: transparent;
  font-size: 1.1em;
  left: 0;
  width: 24px;
  top: 1px;
  text-align: center;
  font-family: Volkhov;
  font-weight: bold;
  color: white;
  text-shadow:
  0 0 3px #000,
  0 0 3px #000,
  0 0 3px #000,
  0 0 3px #000,
  0 0 3px #000;
}

.ais-range-slider--handle {
  width: 24px;
  height: 24px;
  top: -10px;
  background-color: black;
  box-shadow: inset 0 0 0 2px #4011DA;
  border: none;
}

.ais-range-slider--target{
  margin-top: 30px;
  height: 2px;
}

.ais-range-slider--value{
  color: rgba(white,.5);
  font-weight: bold;
  font-size: .9em;
}
