#active-refinements {
  display: none;
  padding: 16px 0 8px;
  text-align: center;

  @media (max-width: 960px) {
    display: block;
  }

  > li,
  div {
    display: inline-block;
    margin-right: 8px;
    list-style: none;
    white-space: nowrap;
    color: $active-color;
    font-size: 1em;
    font-weight: bold;
    user-select: inherit;

    a {
      text-decoration: none;
      color: #fff;

      div {
        display: inline-block;
      }
    }
  }

  .ais-current-refined-values--list {
    svg {
      position: relative;
      top: -2px;
      width: 16px;
      height: 16px;
      vertical-align: middle;
      fill: #fff;
    }
  }
}

#player-class-refinement {
  text-align: center;
  position: relative;
  top: 8px;

  @media (max-width: 960px) {
    display: none;
  }

  > li, div {
    list-style: none;
    display: inline-block;
    font-size: 1em;
    color: #fff;
    white-space: nowrap;
    text-transform: uppercase;
    user-select: inherit;

    a {
      color: #fff;
      text-decoration: none;

      div {
        display: inline-block;
      }
    }
  }

  .ais-current-refined-values--item {
    animation: bounce .5s ease-in;
  }

  h2 {
    display: inline-block;
    width: 300px;
    height: 80px;
    font-size: 1.4em;
    font-family: Volkhov;
    font-weight: bold;
    text-transform: none;
    line-height: 76px;
    text-align: center;
    background: url('img/ClassHeaders.png') no-repeat;
    background-size: 600px;
  }

  .artist{
    background: transparent;
  }

  .class-Druid {
    background-position: 0 -298px;
  }

  .class-Hunter {
    background-position: 0 -372px;
  }

  .class-Mage {
    background-position: 0 -222px;
  }

  .class-Paladin {
    background-position: 0 -147px;
  }

  .class-Priest {
    background-position: -300px -0;
  }

  .class-Rogue {
    background-position: 0 -448px;
  }

  .class-Shaman {
    background-position: 0 -72px;
  }

  .class-Warlock {
    background-position: -300px -73px;
  }

  .class-Warrior {
    background-position: 0 -523px;
  }

  .class-Neutral {
    background-position: 0 3px;
  }
}

.sidebar-facets {
  .ais-refinement-list--item {
    line-height: 1.2em;
  }
}

.ais-refinement-list--item {
  width: 100%
}

.ais-refinement-list--item,
.ais-toggle--item,
.ais-menu--item {
  position: relative;

  a {
    display: inline-block;
    width: 100%;
    color: rgba(#fff, .8);
    font-weight: normal;
    cursor: pointer;
    font-size: 1.05em;
    text-decoration: none;

    &:hover {
      color: #fff;
    }

    &.active {
      color: $active-color;
      font-weight: bold;
    }
  }
}

.ais-root__collapsible .ais-header::before {
  content: '';
  background: url('img/icon-collapse.svg') no-repeat;
  background-size: 100%;
  display: inline-block;
  color: #fff;
  width: 18px;
  height: 10px;
  margin-right: 8px;
  opacity: .4;
}

.ais-root__collapsed .ais-header::before {
  background-image: url('img/icon-expand.svg');
  opacity: 1;
}

.badge {
  float: right;
  color: #7f6cba;
  line-height: 1.2em;

  @media (max-width: 600px) {
    display: none;
  }
}

.ais-header {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Archivo Narrow', sans-serif;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: solid lighten(#320dab,10%) 1px;
}

#rarity {
  .ais-refinement-list--list {
    position: relative;
    height: 30px;
    width: 200px;
    margin: 0 auto;
  }

  .ais-refinement-list--item {
    width: 28px;
    margin-right: 8px;
    position: absolute;
    top: 0;
    left: 0;

    a {
      opacity: .4;

      &.active {
        opacity: 1;

        &::before {
          box-shadow: 0 0 2px 2px #4011da;
        }
      }

      &:hover {
        opacity: .8;
      }
    }

    .list-group-item::before {
      content: '';
      display: inline-block;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      position: absolute;
      top: 5px;
    }
  }

  .list-group-item[data-facet-value="Free"]::before {
    left: 0;
    background: url('img/free.svg') no-repeat;
    background-size: 100%;
  }

  .list-group-item[data-facet-value="Common"]::before {
    left: 40px;
    background: url('img/common.svg') no-repeat;
    background-size: 100%;
  }

  .list-group-item[data-facet-value="Rare"]::before {
    left: 80px;
    background: url('img/rare.svg') no-repeat;
    background-size: 100%;
  }

  .list-group-item[data-facet-value="Epic"]::before {
    left: 120px;
    background: url('img/epic.svg') no-repeat;
    background-size: 100%;
  }

  .list-group-item[data-facet-value="Legendary"]::before {
    left: 160px;
    background: url('img/legendary.svg') no-repeat;
    background-size: 100%;
  }
}

#cost {
  .ais-refinement-list--list {
    text-align: center;
  }

  .ais-refinement-list--item {
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 30px;
    margin: 8px 8px 0 0;

    @media (max-width: 600px) {
      margin: 4px 4px 0;
    }

    a {
      opacity: .7;
      font-size: 1.4em;
      font-family: 'Belwe';
      line-height: 27px;
      color: #fff;
      text-shadow:
      0 0 3px #000,
      0 0 3px #000,
      0 0 3px #000,
      0 0 3px #000,
      0 0 3px #000,
      0 0 3px #000,
      0 0 3px #000;
      background-image: url('img/cristal.svg');
      background-repeat: no-repeat;
      background-size: 100%;

      &.active {
        color: $active-color;
        opacity: 1;
        background-image: url('img/cristal--active.svg');
      }

      &:hover {
        background-image: url('img/cristal--active.svg');
      }
    }
  }
}

#format {
  .list-group-item::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    position: relative;
    top: 4px;
    margin-right: 4px;
    background: url('img/SetIcons.png');
    background-size: 140px;
    background-position: 138px -22px;
  }
}

#playerClass {
  text-align: center;
  margin-top: 20px;

  @media (max-width: 600px) {
    display: none;
  }

  .ais-menu--item {
    display: inline-block;

    a {
      width: auto;
      color: rgba(#fff, .7);
      cursor: pointer;
      font-size: .9em;
      font-weight: bold;
      text-decoration: none;
      padding: 0 12px 0 44px;
      border: solid 2px rgba(#3c10c9, .3);
      border-radius: 40px;
      line-height: 42px;
      position: relative;
      margin-right: 8px;
      margin-bottom: 8px;
      opacity: .7;

      @media (max-width: 1400px) {
        display: block;
        margin-right: 8px;
        font-size: 0;
        padding: 1px;
        width: 44px;
      }

      .value {
        display: block;
      }

      &:hover {
        color: #fff;
        border-color: #3c10c9;
        opacity: 1;
      }

      &.active {
        opacity: 1;
        color:$active-color;
        background-color: #4011da;
      }

      em {
        font-style: normal;
        font-weight: 800;
      }
    }
  }

  .list-group-item {

    &::before {
      content: '';
      position: absolute;
      top: 6px;
      left: 8px;
      width: 32px;
      height: 32px;
      margin-right: 3px;
      background: url('img/ClassIcons.png');
      background-size: 170px;
    }

    &[data-facet-value="Druid"] {
      &.active {
        background-color: rgba($druid-color, .2);
        border-color: $druid-color;
      }

      &::before {
        background-position: 100px 32px;
      }
    }

    &[data-facet-value="Hunter"] {
      &.active {
        background-color: rgba($hunter-color, .2);
        border-color: $hunter-color;
      }

      &::before {
        background-position: 66px 32px;
      }
    }

    &[data-facet-value="Shaman"] {
      &.active {
        background-color: rgba($shaman-color, .2);
        border-color: $shaman-color;
      }

      &::before {
        background-position: 32px -2px;
      }
    }

    &[data-facet-value="Warrior"] {
      &.active {
        background-color: rgba($warrior-color, .2);
        border-color: $warrior-color;
      }

      &::before {
        background-position: 134px 32px;
      }
    }

    &[data-facet-value="Paladin"] {
      &.active {
        background-color: rgba($paladin-color, .2);
        border-color: $paladin-color;
      }

      &::before {
        background-position: 134px -2px;
      }
    }

    &[data-facet-value="Warlock"] {
      &.active {
        background-color: rgba($warlock-color, .2);
        border-color: $warlock-color;
      }

      &::before {
        background-position: -2px 32px;
      }
    }

    &[data-facet-value="Priest"] {
      &.active {
        background-color: rgba($priest-color, .2);
        border-color: $priest-color;
      }

      &::before {
        background-position: 100px -2px;
      }
    }

    &[data-facet-value="Rogue"] {
      &.active {
        background-color: rgba($rogue-color, .2);
        border-color: $rogue-color;
      }

      &::before {
        background-position: 66px -2px;
      }
    }

    &[data-facet-value="Mage"] {
      &.active {
        background-color: rgba($mage-color, .2);
        border-color: $mage-color;
      }

      &::before {
        background-position: -2px -2px;
      }
    }

    &[data-facet-value="Neutral"] {
      &.active {
        background-color: rgba($neutral-color, .2);
        border-color: $neutral-color;
      }

      &::before {
        background-position: 32px 32px;
      }
    }
  }
}

#playerClassFiltersPanel {
  text-align: center;

  @media (min-width: 600px) {
    display: none;
  }

  .ais-menu--item {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 4px;
    opacity: .7;
    overflow: hidden;

    a {
      cursor: pointer;
      position: relative;
      display: block;
    }

    &.ais-menu--item__active {
      opacity: 1;
    }
  }

  .list-group-item {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 32px;
      height: 32px;
      background: url('img/ClassIcons.png');
      background-size: 170px;
    }

    &[data-facet-value="Druid"]::before {
      background-position: 100px 32px;
    }

    &[data-facet-value="Hunter"]::before {
      background-position: 66px 32px;
    }

    &[data-facet-value="Shaman"]::before {
      background-position: 32px -2px;
    }

    &[data-facet-value="Warrior"]::before {
      background-position: 134px 32px;
    }

    &[data-facet-value="Paladin"]::before {
      background-position: 134px -2px;
    }

    &[data-facet-value="Warlock"]::before {
      background-position: -2px 32px;
    }

    &[data-facet-value="Priest"]::before {
      background-position: 100px -2px;
    }

    &[data-facet-value="Rogue"]::before {
      background-position: 66px -2px;
    }

    &[data-facet-value="Mage"]::before {
      background-position: -2px -2px;
    }

    &[data-facet-value="Neutral"]::before {
      background-position: 32px 32px;
    }
  }
}

#set {
  .ais-refinement-list--item {
    line-height: 1.4em;
  }

  .badge {
    line-height: 1.4em;
  }

  .list-group-item {
    box-sizing: border-box;
    padding-left: 26px;

    .value {
      display: none;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 22px;
      height: 22px;
      position: absolute;
      top: 0;
      left: 0;
      margin-right: 4px;
      background: url('img/SetIcons.png');
      background-size: 140px;
    }

    &[data-facet-value="Old Gods"]::before,
    &[data-facet-value="OG"]::before {
      background-position: 68px 0;
    }

    &[data-facet-value="The Grand Tournament"]::before,
    &[data-facet-value="TGT"]::before {
      background-position: 90px 0;
    }

    &[data-facet-value="League of Explorers"]::before,
    &[data-facet-value="LOE"]::before {
      background-position: 68px 24px;
    }

    &[data-facet-value="Blackrock Mountain"]::before,
    &[data-facet-value="BRM"]::before {
      background-position: 46px 24px;
    }

    &[data-facet-value="Goblins vs Gnomes"]::before,
    &[data-facet-value="GVG"]::before {
      background-position: 116px 0;
    }

    &[data-facet-value="Naxxramas"]::before,
    &[data-facet-value="NAXX"]::before {
      background-position: 22px 0;
    }

    &[data-facet-value="Expert"]::before,
    &[data-facet-value="EXPERT1"]::before {
      background-position: 46px 0;
    }

    &[data-facet-value="Basic"]::before,
    &[data-facet-value="CORE"]::before {
      background-position: 0 0;
    }

    &[data-facet-value="Reward"]::before,
    &[data-facet-value="REWARD"]::before {
      background-position: 116px 24px;
    }
  }
}


#sort-by {
  .sort-by-label {
    display: inline-block;
    margin-right: 12px;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
  }

  .sort-by-selector {
    display: inline-block;
  }

  select {
    display: block;
    border: solid 2px #4011da;
    border-radius: 4px;
    color: #fff;
    font-size: .9em;
    padding: 4px 26px 4px 12px;
    appearance: none;
    background: {
      color: #000;
      image: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' version=\'1\' viewBox=\'0 0 100 100\'><path fill=\'%23979797\' d=\'M21.364 42.218l24.33 24.33c.025.026.033.064.06.09 1.146 1.146 2.66 1.715 4.17 1.71 1.51.005 3.023-.563 4.17-1.71.027-.027.034-.064.06-.09l24.33-24.33c2.285-2.285 2.285-6.024 0-8.308s-6.024-2.285-8.308 0L49.923 54.16l-20.25-20.25c-2.286-2.285-6.025-2.285-8.31 0s-2.284 6.024 0 8.308z\'/></svg>');
      repeat: no-repeat;
      position: center right 8px;
      size: 14px;
    }

    &:focus,
    &:active {
      outline: 0;
      box-shadow: none;
      background: {
        image: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' version=\'1\' viewBox=\'0 0 100 100\'><path fill=\'%232897c5\' d=\'M21.364 42.218l24.33 24.33c.025.026.033.064.06.09 1.146 1.146 2.66 1.715 4.17 1.71 1.51.005 3.023-.563 4.17-1.71.027-.027.034-.064.06-.09l24.33-24.33c2.285-2.285 2.285-6.024 0-8.308s-6.024-2.285-8.308 0L49.923 54.16l-20.25-20.25c-2.286-2.285-6.025-2.285-8.31 0s-2.284 6.024 0 8.308z\'/></svg>');
      }
    }
  }
}

#attack {
  .ais-range-slider--connect {
    background-color: #dcbd1c;
  }
}

#health {
  .ais-range-slider--connect {
    background-color: #bd191c;
  }
}

.ais-range-slider--base {
  border: 0;
}

.ais-range-slider--background,
.ais-range-slider--marker {
  background-color: #4011da;
}

.ais-range-slider--tooltip {
  top: 1px;
  left: 0;
  background-color: transparent;
  width: 24px;
  text-align: center;
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
  color: #fff;
  font-family: Volkhov;
  font-size: 1.1em;
  font-weight: bold;
}

.ais-range-slider--handle {
  top: -10px;
  border: 0;
  box-shadow: inset 0 0 0 2px #4011da;
  background-color: #000;
  width: 24px;
  height: 24px;
}

.ais-range-slider--target {
  margin-top: 30px;
  height: 2px;
}

.ais-range-slider--value {
  color: rgba(#fff, .5);
  font-size: .9em;
  font-weight: bold;
}


#clearAll {
  .ais-current-refined-values--clear-all{
    display: block;
    outline: 0;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    background-color: rgba(lighten(#3c10c9, 5%), .5);
    cursor: pointer;
    color: rgba(#fff, .4);
    font-size: 1em;
    line-height: 2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: lighten(#3c10c9, 5%);
      color: #fff;
    }
  }
  .ais-current-refined-values--list {
    display: none;
  }
}
