
#refinements {
  text-align: center;
  @media (max-width: 960px){
    display: none;
  }
  > li, div {
    list-style: none;
    display: inline-block;
    font-size: 1em;
    color: #fff;
    white-space: nowrap;
    text-transform: uppercase;
    user-select: inherit;
    a {
      color: #fff;
      text-decoration: none;
      div {
        display: inline-block;
      }
    }
  }

  .ais-current-refined-values--list {
    svg {
      fill: #BD245E;
    }
  }
  .ais-current-refined-values--item {
    animation: bounce .5s ease-in;
  }

  h2{
    display: inline-block;
    width: 300px;
    height: 80px;
    font-size: 1.4em;
    font-family: Volkhov;
    font-weight: bold;
    text-transform: none;
    line-height: 76px;
    text-align: center;
    background: url('img/ClassHeaders.png') no-repeat;
    background-size: 600px;
  }
  .class-Druid {
    background-position: 0 -298px;
  }
  .class-Hunter {
    background-position: 0 -372px;
  }
  .class-Mage {
    background-position: 0 -222px;
  }
  .class-Paladin {
    background-position: 0 -147px;
  }
  .class-Priest {
    background-position: -300px -0;
  }
  .class-Rogue {
    background-position: 0 -448px;
  }
  .class-Shaman {
    background-position: 0 -72px;
  }
  .class-Warlock {
    background-position: -300px -73px;
  }
  .class-Warrior {
    background-position: 0 -523px;
  }
  .class-Neutral {
    background-position: 0 3px;
  }
}

.sidebar-facets{
  .ais-refinement-list--item{
    line-height: 1.2em;
  }
}

.ais-refinement-list--item {
  width: 100%
}

.ais-refinement-list--item,
.ais-toggle--item,
.ais-menu--item {
  position: relative;
  a {
    display: inline-block;
    width: 100%;
    color: rgba(white,.8);
    font-weight: normal;
    cursor: pointer;
    font-size: 1.05em;
    text-decoration: none;
    &:hover{
      color: white;
    }
    &.active{
      color: yellow;
      font-weight: bold;
    }
  }
}

.badge {
  float: right;
  color: #777;
  line-height: 1.2em;
}

.ais-header{
  color: white;
  font-size: 1.1em;
  font-family: 'Archivo Narrow', sans-serif;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: solid lighten(#320DAB,10%) 1px;
}


#rarity{
  .ais-refinement-list--item{
    width: 28px;
    display: inline-block;
    margin-right: 8px;
    a{
      width: 20px;
      &.active::before{
        box-shadow: inset 0 0 0 2px rgba(white,.5);
      }
    }
    .list-group-item::before {
      content: "";
      display: inline-block;
      width: 28px;
      height:28px;
      border-radius: 50%;
      position: relative;
      top: 5px;
    }
  }
  .list-group-item[data-facet-value="Free"]:before {
      background-color: #444;
  }
  .list-group-item[data-facet-value="Common"]:before {
    background: url(img/common.svg) no-repeat;
    background-size: 100%;
  }
  .list-group-item[data-facet-value="Rare"]:before {
    background: url(img/rare.svg) no-repeat;
    background-size: 100%;
  }
  .list-group-item[data-facet-value="Epic"]:before {
    background: url(img/epic.svg) no-repeat;
    background-size: 100%;
  }
  .list-group-item[data-facet-value="Legendary"]:before {
    background: url(img/legendary.svg) no-repeat;
    background-size: 100%;
  }

}

#cost{
  .ais-refinement-list--item{
    display: inline-block;
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 30px;
    margin-right: 8px;
    margin-top: 8px;
    a {
      opacity: .7;
      font-size: 1.2em;
      font-family: Volkhov;
      font-weight: bold;
      color: white;
      text-shadow:
      0 0 3px #000,
      0 0 3px #000,
      0 0 3px #000,
      0 0 3px #000,
      0 0 3px #000,
      0 0 3px #000,
      0 0 3px #000;
      background-image: url(img/cristal.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      &.active{
        color: yellow;
        opacity: 1;
        background-image: url(img/cristal--active.svg);
      }
    }
  }
}

#format{
  .list-group-item::before{
    content: "";
    display: inline-block;
    width: 22px;
    height:22px;
    position: relative;
    top: 4px;
    margin-right: 4px;
    background: url('img/SetIcons.png');
    background-size: 140px;
    background-position: 138px -22px;
  }
}

#playerClass{
  text-align: center;

  .ais-menu--item {
    display: inline-block;
    a{
      width: auto;
      color: rgba(white,.7);
      cursor: pointer;
      font-size: .9em;
      font-weight: bold;
      text-decoration: none;
      padding: 0 12px 0 44px;
      border: solid 2px rgba(#3C10C9,.3);
      border-radius: 40px;
      line-height: 42px;
      position: relative;
      margin-right: 8px;
      margin-bottom: 8px;
      @media (max-width: 1400px){
        display: block;
        margin-right: 8px;
        font-size: 0;
        padding: 1px;
        width: 44px;
      }
      .value {
        display: block;
      }

      &:hover{
        color: white;
        border-color: #3C10C9;
      }

      &.active{
        color:yellow;
        border-color: #3C10C9;
        @media (max-width: 960px){
          border-color: white;
        }
      }

      em {
       font-style: normal;
       font-weight: 800;
      }
    }
  }

  .list-group-item{
    &::before{
      content: "";
      position: absolute;;
      top: 6px;
      left: 8px;
      width: 32px;
      height:32px;
      margin-right: 3px;
      background: url('img/ClassIcons.png');
      background-size: 170px;
    }
    &[data-facet-value="Druid"]::before {
      background-position: 100px 32px;
    }

    &[data-facet-value="Hunter"]::before {
      background-position: 66px 32px;
    }

    &[data-facet-value="Shaman"]::before {
      background-position: 32px -2px;
    }

    &[data-facet-value="Warrior"]::before {
      background-position: 134px 32px;
    }

    &[data-facet-value="Paladin"]::before {
      background-position: 134px -2px;
    }

    &[data-facet-value="Warlock"]::before {
      background-position: -2px 32px;
    }

    &[data-facet-value="Priest"]::before {
      background-position: 100px -2px;
    }

    &[data-facet-value="Rogue"]::before {
      background-position: 66px -2px;
    }

    &[data-facet-value="Mage"]::before {
      background-position: -2px -2px;
    }

    &[data-facet-value="Neutral"]::before {
      background-position: 32px 32px;
    }
  }
}

#set{
  .ais-refinement-list--item {
    line-height: 1.4em;
  }

  .badge{
    line-height: 1.4em;
  }

  .list-group-item{
    box-sizing: border-box;
    padding-left: 26px;

    &::before{
      content: "";
      display: inline-block;
      width: 22px;
      height:22px;
      position: absolute;
      top: 0;
      left: 0;
      margin-right: 4px;
      background: url('img/SetIcons.png');
      background-size: 140px;
    }

    &[data-facet-value="Old Gods"]::before {
      background-position: 68px 0;
    }

    &[data-facet-value="The Grand Tournament"]::before {
      background-position: 90px 0;
    }

    &[data-facet-value="League of Explorers"]::before {
      background-position: 68px 24px;
    }

    &[data-facet-value="Blackrock Mountain"]::before {
      background-position: 46px 24px;
    }

    &[data-facet-value="Goblins vs Gnomes"]::before {
      background-position: 116px 0;
    }

    &[data-facet-value="Naxxramas"]::before {
      background-position: 22px 0;
    }

    &[data-facet-value="Expert"]::before {
      background-position: 0 0;
    }

    &[data-facet-value="Basic"]::before {
      background-position: 46px 0;
    }

    &[data-facet-value="Reward"]::before {
      background-position: 116px 24px;
    }
  }
}
