:root {
  text-rendering: optimizeLegibility;
  font-family: 'Archivo Narrow', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Belwe';
  src: url('./fonts/Belwe.woff2') format('woff2'),
       url('./fonts/Belwe.woff') format('woff'),
       url('./fonts/Belwe.ttf') format('truetype');
  font-weight: bold;
}
