$sb_blue: #0F4589;
$sb_red: #C0001D;
$ais_blue: lighten($sb_blue, 15%);
$ais_red: lighten($sb_red, 15%);
$bp-regular: 960px;
$bp-small: 740px;

$custom: (
  input-width: 400px,
  input-height: 40px,
  border-width: 3px,
  border-radius: 0px,
  input-border-color: #fff,
  input-focus-border-color: #fff,
  input-background: #001B3A,
  input-focus-background: #001B3A,
  font-size: .9em,
  placeholder-color: #EEE,
  icon-size: 24px,
  icon-position: left,
  icon-color: #fff,
  icon-background: #3e82f7,
  icon-background-opacity: 0,
  icon-clear-size: 16px
);
