$custom: (
  input-width: 400px,
  input-height: 36px,
  border-width: 3px,
  border-radius: 0,
  input-border-color: #3c10c9,
  input-focus-border-color: #fff,
  input-background: #001b3a,
  input-focus-background: #001b3a,
  font-size: 1em,
  placeholder-color: rgba(#fff, .6),
  icon-size: 24px,
  icon-position: left,
  icon-color: #fff,
  icon-background: #3e82f7,
  icon-background-opacity: 0,
  icon-clear-size: 16px
);

$active-color: #f8e71b;

$hunter-color: #59bd4e;
$druid-color: #fa6030;
$mage-color: #4ba1cf;
$paladin-color: #db66d7;
$priest-color: #eee;
$rogue-color: #e9e066;
$shaman-color: #006de1;
$warlock-color: #8857d7;
$warrior-color: #b77f4a;
$neutral-color: #99a7b8;

$free-color: #323538;
$common-color: #CBCBCB;
$rare-color: #3087EB;
$epic-color: #BC4DDB;
$legendary-color: #C67219;


$bkp-sm: 600px;
$bkp-md: 960px;
$bkp-lg: 1300px;
